# Database
SUPABASE_DATABASE_PW=

DATABASE_URL="postgresql://postgres.yourprojectref:${SUPABASE_DATABASE_PW}@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres.yourprojectref:${SUPABASE_DATABASE_PW}@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"

# Supabase
SUPABASE_URL=
SUPABASE_JWT_SECRET=

# Client (Vite)
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=